*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(232, 232, 232);
}

table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    transition: all 0.3s, color 0.3s ease-in-out;
}
table{
    width:100%;
    height: 100vh;
}

td:hover{
    background-color: white !important;
}

.bluehover:hover{
    background-color:#00ffff !important; 
}

.yellowhover:hover{
    background-color: #fbfb00 !important;
}

.pinkhover:hover{
    background-color: #ff00ff !important;
}