*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    background-image: linear-gradient(to bottom right, rgb(255 102 217), rgb(16 227 255 / 84%));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding-top: 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.45));
    backdrop-filter: blur(1rem);
    width:75%;
    height: 88vh;
    padding:46px 30px;
    border-radius: 75px;
}

h1{
    text-align: center;
    font-size: 2.9rem;
    padding-bottom: 3.25rem;
    color:#202020;
}

form{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 2rem;
}

input[type="text"]{
    width: 66%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"]{
    width: 63%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select{
    width: 26%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"]{
    border: 1px solid #ccc;
}

button{
    margin-top: 1.1rem;
    padding: 1.1rem 2.3rem;
    border: none;
    border-radius: 10px;
    color: #f3f4f6;
    background-color: #669ccb;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover{
    background-color: #5681a7;
}